@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'Suisse Intl';
    src: url('/SuisseIntl-Regular.otf') format('otf'),
        url('/SuisseIntl-Regular.woff2') format('woff2'),
        url('/SuisseIntl-Regular.woff') format('woff');
    ;
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-display: fallback;
    font-family: 'Suisse Intl';
    src: url('/SuisseIntl-Italic.otf') format('otf'),
        url('/SuisseIntl-Italic.woff2') format('woff2'),
        url('/SuisseIntl-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-display: fallback;
    font-family: 'Suisse Intl';
    src: url('/SuisseIntl-SemiBold.otf') format('otf'),
        url('/SuisseIntl-SemiBold.woff2') format('woff2'),
        url('/SuisseIntl-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-display: fallback;
    font-family: 'Suisse Intl';
    src: url('/SuisseIntl-SemiBoldItalic.otf') format('otf'),
        url('/SuisseIntl-SemiBoldItalic.woff2') format('woff2'),
        url('/SuisseIntl-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-display: fallback;
    font-family: 'Suisse Intl Mono';
    src: url('/SuisseIntlMono.otf') format('otf'),
        url('/SuisseIntlMono.woff2') format('woff2'),
        url('/SuisseIntlMono.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }

  html {
    @apply font-primary text-body antialiased;
  }

  h1 {
    @apply text-h1 font-secondary;
  }

  h2 {
    @apply text-h2 font-secondary;
  }

  h3 {
    @apply text-h3 font-secondary;
  }

  h4 {
    @apply text-h4 font-secondary;
  }

  h5 {
    @apply text-h5 font-secondary;
  }

  h6 {
    @apply text-h6 font-secondary;
  }

  p {
    @apply font-primary text-body;
  }

  .caption {
    @apply text-caption;
  }

  .utility {
    @apply text-utility font-mono uppercase;
  }

}


@layer components {
  .spacing-token {
    @apply border-2 border-border rounded-sm flex-shrink-0 flex-grow-0;
  }

  .color-token {
    @apply p-sm basis-4/12;
  }
}